PyQt6>=6.0.0
PySide6-Essentials>=6.0.0 # Если используется Qt Multimedia или другие компоненты Essentials с PyQt6, либо сама PySide6
scenedetect>=0.6.0.1 # Или PySceneDetect, если вы ставили его так
opencv-python>=4.5.0 # Если PySceneDetect использует OpenCV бэкенд
# sanitize-filename>=1.0.0 # Если используется
# numpy # Часто является зависимостью OpenCV или scenedetect
# Pillow # Может потребоваться для работы с иконками или другими изображениями, если вы расширите функционал